<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar posteo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div style="padding: 50px;">
        <div class="card">
            <div class="card-header">
                 Editar posteo: <%= posteo.titulo %>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="posteo" class="form-label">Posteos</label>
                         <input type="text" class="form-control" id="posteo" name="posteo" value="<%= posteo.titulo %>">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Contenido</label>
                       <input type="text" class="form-control" id="contenido" name="contenido" value="<%= posteo.contenido %>">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Imagen (opcional)</label>
                        <input type="text" class="form-control" id="imagen" name="imagen" value="<%= posteo.imagen %>">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
        <img src="<%= posteo.imagen %>">
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>