<%- include('partials/head') %>

<body>
    <div style="padding: 50px;">
        <div class="card">
            <div class="card-header">
                 Editar posteo: <%= posteo.titulo %>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="posteo" class="form-label">Posteos</label>
                         <input type="text" class="form-control" id="posteo" name="posteo" value="<%= posteo.titulo %>">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Contenido</label>
                       <input type="text" class="form-control" id="contenido" name="contenido" value="<%= posteo.contenido %>">
                    </div>
                    <div class="mb-3">
                        <label for="contenido" class="form-label">Imagen (opcional)</label>
                        <input type="text" class="form-control" id="imagen" name="imagen" value="<%= posteo.imagen %>">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
        <img src="<%= posteo.imagen %>">
    </div>
</body>
</html>